<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mobile-store-system</display-name>
  <description>mobile-store-system Application</description>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>flex.messaging.HttpFlexSession</listener-class>
  </listener>
  <filter>
    <filter-name>hibernateFilter</filter-name>
    <filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    <init-param>
      <param-name>singleSession</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>hibernateFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>flex</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/web-application-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>flex</servlet-name>
    <url-pattern>/messagebroker/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FileUploaded</servlet-name>
    <servlet-class>FileUploaded</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploaded</servlet-name>
    <url-pattern>/FileUploaded</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Itemforxml</display-name>
    <servlet-name>Itemforxml</servlet-name>
    <servlet-class>ms.xml.Itemforxml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Itemforxml</servlet-name>
    <url-pattern>/Itemforxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Categoryforxml</display-name>
    <servlet-name>Categoryforxml</servlet-name>
    <servlet-class>ms.xml.Categoryforxml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Categoryforxml</servlet-name>
    <url-pattern>/Categoryforxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userforxml</display-name>
    <servlet-name>Userforxml</servlet-name>
    <servlet-class>ms.xml.Userforxml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userforxml</servlet-name>
    <url-pattern>/Userforxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoxml</display-name>
    <servlet-name>UserInfoxml</servlet-name>
    <servlet-class>ms.xml.UserInfoxml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoxml</servlet-name>
    <url-pattern>/UserInfoxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchItemforxml</display-name>
    <servlet-name>SearchItemforxml</servlet-name>
    <servlet-class>ms.xml.SearchItemforxml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchItemforxml</servlet-name>
    <url-pattern>/SearchItemforxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cartforxml</display-name>
    <servlet-name>Cartforxml</servlet-name>
    <servlet-class>ms.xml.Cartforxml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cartforxml</servlet-name>
    <url-pattern>/Cartforxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Caerinfoforxml</display-name>
    <servlet-name>Caerinfoforxml</servlet-name>
    <servlet-class>ms.xml.Caerinfoforxml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Caerinfoforxml</servlet-name>
    <url-pattern>/Caerinfoforxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Orderforxml</display-name>
    <servlet-name>Orderforxml</servlet-name>
    <servlet-class>ms.xml.Orderforxml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Orderforxml</servlet-name>
    <url-pattern>/Orderforxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayOrderforxml</display-name>
    <servlet-name>PayOrderforxml</servlet-name>
    <servlet-class>ms.xml.PayOrderforxml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayOrderforxml</servlet-name>
    <url-pattern>/PayOrderforxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchItemByBumforxml</display-name>
    <servlet-name>SearchItemByBumforxml</servlet-name>
    <servlet-class>ms.xml.SearchItemByBumforxml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchItemByBumforxml</servlet-name>
    <url-pattern>/SearchItemByBumforxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchItemByid</display-name>
    <servlet-name>SearchItemByid</servlet-name>
    <servlet-class>ms.xml.SearchItemByid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchItemByid</servlet-name>
    <url-pattern>/SearchItemByid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintWord</display-name>
    <servlet-name>PrintWord</servlet-name>
    <servlet-class>ms.util.PrintWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintWord</servlet-name>
    <url-pattern>/PrintWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackDrawforxml</display-name>
    <servlet-name>BackDrawforxml</servlet-name>
    <servlet-class>ms.xml.BackDrawforxml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackDrawforxml</servlet-name>
    <url-pattern>/BackDrawforxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AffirmOrderforxml</display-name>
    <servlet-name>AffirmOrderforxml</servlet-name>
    <servlet-class>ms.xml.AffirmOrderforxml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffirmOrderforxml</servlet-name>
    <url-pattern>/AffirmOrderforxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemByCategoryforxml</display-name>
    <servlet-name>ItemByCategoryforxml</servlet-name>
    <servlet-class>ms.xml.ItemByCategoryforxml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemByCategoryforxml</servlet-name>
    <url-pattern>/ItemByCategoryforxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OederDetailforxml</display-name>
    <servlet-name>OederDetailforxml</servlet-name>
    <servlet-class>ms.xml.OederDetailforxml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OederDetailforxml</servlet-name>
    <url-pattern>/OederDetailforxml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartforxml</display-name>
    <servlet-name>UpdateCartforxml</servlet-name>
    <servlet-class>ms.xml.UpdateCartforxml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartforxml</servlet-name>
    <url-pattern>/UpdateCartforxml</url-pattern>
  </servlet-mapping>
</web-app>